@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

/* Supprime l'apparence native des selects sur iOS */
select {
  -webkit-appearance: none;
}
